---
import Layout from '../layouts/Layout.astro';
---

<Layout
  locale="en"
  title="BMTech"
  currentPath="/"
  webflowPageId="6a0c84e6593078e8f088bc70"
>
  <Fragment slot="head">
    <meta content="Optimize your power infrastructure with BMTech. Discover our cutting-edge equipment and systems built for high-performance battery energy storage." name="description" />
    <meta content="Battery Management Technology Corporation" property="og:title" />
    <meta content="Optimize your power infrastructure with BMTech. Discover our cutting-edge equipment and systems built for high-performance battery energy storage." property="og:description" />
    <meta content="https://cdn.prod.website-files.com/6a0c84e4593078e8f088bb7c/6a0fe4369f79f753573f39c8_8b94941eb69acb8d526938741fe02663_sign-gemini-trans.png" property="og:image" />
    <meta content="Battery Management Technology Corporation" name="twitter:title" />
    <meta content="Optimize your power infrastructure with BMTech. Discover our cutting-edge equipment and systems built for high-performance battery energy storage." name="twitter:description" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="Webflow" name="generator" />
    <style>html.w-mod-js:not(.w-mod-ix3) :is(.linked-nav-logo, .image-section) {visibility: hidden !important;}</style>
    <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
    <link href="images/favicon.png" rel="icon" type="image/png" sizes="32x32" media="(prefers-color-scheme: light)" />
    <link href="images/favicon-dark.png" rel="icon" type="image/png" sizes="32x32" media="(prefers-color-scheme: dark)" />
    <link href="images/favicon-48.png" rel="icon" type="image/png" sizes="48x48" />
    <link href="images/webclip-180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="images/webclip-192.png" rel="icon" type="image/png" sizes="192x192" />
    <link href="images/webclip.png" rel="icon" type="image/png" sizes="512x512" />
    <script src="https://cdn.prod.website-files.com/gsap/3.15.0/ScrollTrigger.min.js" type="text/javascript"></script>
  </Fragment>

  <div class="w-layout-vflex main-wrapper">
  <section class="hero-section">
    <div data-poster-url="videos/windfarm2-1_poster.0000000.jpg" data-video-urls="videos/windfarm2-1_mp4.mp4,videos/windfarm2-1_webm.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="hero-video w-background-video w-background-video-atom"><video id="68e50f0e-89e1-74b9-230c-fb6f5dbc2fd2-video" autoplay="" loop="" style="background-image:url(&quot;videos/windfarm2-1_poster.0000000.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
        <source src="videos/windfarm2-1_mp4.mp4" data-wf-ignore="true">
        <source src="videos/windfarm2-1_webm.webm" data-wf-ignore="true">
      </video></div>
    <div class="overlay"></div>
    <div class="w-layout-blockcontainer hero-container w-container">
      <div data-w-id="ac31293e-530d-81d5-5877-184c410a707a" style="opacity:0" class="w-layout-blockcontainer hero-right w-container">
        <div class="hero-txt">Reliable energy management for a sustainable future.</div>
      </div>
      <div data-w-id="fc0af1aa-def5-3384-a861-1e7eab58edfa" style="opacity:0" class="w-layout-blockcontainer hero-left w-container">
        <h1 class="display-lg">Revolutionizing Energy Potential</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="about-container">
      <div data-w-id="1d07c983-3d6a-4d3d-5bc9-d7fbce51e6ec" style="opacity:0" class="about-left"><img class="about-img" src="images/sign-gemini.png" alt="A metal sign reading: BMTech; empower a sustainable future" style="opacity:0" sizes="(max-width: 2093px) 100vw, 2093px" data-w-id="1d07c983-3d6a-4d3d-5bc9-d7fbce51e6ed" loading="lazy" srcset="images/8b94941eb69acb8d526938741fe02663_sign-gemini-trans-p-500.png 500w, images/8b94941eb69acb8d526938741fe02663_sign-gemini-trans-p-800.png 800w, images/8b94941eb69acb8d526938741fe02663_sign-gemini-trans-p-1080.png 1080w, images/8b94941eb69acb8d526938741fe02663_sign-gemini-trans-p-1600.png 1600w, images/8b94941eb69acb8d526938741fe02663_sign-gemini-trans-p-2000.png 2000w, images/sign-gemini.png 2093w" /></div>
      <div data-w-id="1d07c983-3d6a-4d3d-5bc9-d7fbce51e6ee" style="opacity:0" class="about-right">
        <h1 class="h1">Who We Are</h1>
        <p class="sm-txt gray-200">Battery Management Technology Corporation (BMTech) is a Dallas-based cleantech leader specializing in cutting-edge Battery Management Systems (BMS) and Energy Management Systems (EMS). Since 2019, we have engineered high-performance infrastructure designed to meet the complex challenges of modern energy ecosystems.</p>
        <p class="sm-txt gray-200">With a robust portfolio of innovative solutions, BMTech delivers secure, intelligent, and highly adaptable systems that optimize battery lifespan, maximize safety, and streamline operations for global clients.</p>
      </div>
    </div>
  </section>
  <section class="image-section">
    <div class="left-img-wrap"><img src="images/bess_compressed.jpeg" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="images/bess_compressed-p-500.jpeg 500w, images/bess_compressed-p-800.jpeg 800w, images/bess_compressed-p-1080.jpeg 1080w, images/bess_compressed.jpeg 1500w" alt="A Battery Energy Storage System in the desert" class="image" /></div>
    <div data-poster-url="videos/39991-424360905_small_poster.0000000.jpg" data-video-urls="videos/39991-424360905_small_mp4.mp4,videos/39991-424360905_small_webm.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video w-background-video w-background-video-atom"><video id="b6856f96-fb76-76a6-6ec9-9a81c2960e88-video" autoplay="" loop="" style="background-image:url(&quot;videos/39991-424360905_small_poster.0000000.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
        <source src="videos/39991-424360905_small_mp4.mp4" data-wf-ignore="true">
        <source src="videos/39991-424360905_small_webm.webm" data-wf-ignore="true">
      </video></div>
  </section>
  <section data-w-id="78a9d919-15a5-2dad-8fd2-49055cbd634f" style="opacity:0" class="products-section">
    <div class="flex-container-y">
      <div class="flex-y">
        <h1 class="h1 centered">Products</h1>
        <p class="sm-txt centered gray-200 padding-bottom">Explore our Battery Management System (BMS) and Energy Management System (EMS) products.</p>
        <a data-wf--button-primary--variant="secondary" href="products.html" class="button-primary w-variant-fcb97c6f-219d-3318-ccd5-ef3516a8504d w-button">See All</a>
      </div>
      <div data-delay="4000" data-animation="slide" class="prod-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
        <div class="prod-slider-mask w-slider-mask">
          <div class="prod-slide w-slide">
            <div data-w-id="0cdf2b58-3790-11ac-1196-dab7df62aa2f" class="prod-card">
              <a href="products/bbmu.html" class="link-card w-inline-block"><img loading="lazy" src="images/bbmu.jpg" alt="BBMU" sizes="(max-width: 800px) 100vw, 800px" srcset="images/bbmu-p-500.jpg 500w, images/bbmu.jpg 800w" class="card-img" />
                <div class="card-info">
                  <h3 class="prod-card-name">BBMU</h3>
                  <p class="sm-txt gray-200 card">Battery Bank Management Unit</p>
                </div>
              </a>
            </div>
          </div>
          <div class="prod-slide w-slide">
            <div data-w-id="0cdf2b58-3790-11ac-1196-dab7df62aa2f" class="prod-card">
              <a href="products/bmmu.html" class="link-card w-inline-block"><img loading="lazy" src="images/bmmu.jpg" alt="BMMU" sizes="(max-width: 800px) 100vw, 800px" srcset="images/bmmu-p-500.jpg 500w, images/bmmu.jpg 800w" class="card-img" />
                <div class="card-info">
                  <h3 class="prod-card-name">BMMU</h3>
                  <p class="sm-txt gray-200 card">Battery Module Management Unit</p>
                </div>
              </a>
            </div>
          </div>
          <div class="prod-slide w-slide">
            <div data-w-id="0cdf2b58-3790-11ac-1196-dab7df62aa2f" class="prod-card">
              <a href="products/brmu.html" class="link-card w-inline-block"><img loading="lazy" src="images/brmu.jpg" alt="BRMU" sizes="(max-width: 800px) 100vw, 800px" srcset="images/brmu-p-500.jpg 500w, images/brmu.jpg 800w" class="card-img" />
                <div class="card-info">
                  <h3 class="prod-card-name">BRMU</h3>
                  <p class="sm-txt gray-200 card">Battery Rack Management Unit</p>
                </div>
              </a>
            </div>
          </div>
          <div class="prod-slide w-slide">
            <div data-w-id="0cdf2b58-3790-11ac-1196-dab7df62aa2f" class="prod-card">
              <a href="products/ems-c.html" class="link-card w-inline-block"><img loading="lazy" src="images/ems-c.jpg" alt="EMS-C" sizes="(max-width: 800px) 100vw, 800px" srcset="images/ems-c-p-500.jpg 500w, images/ems-c.jpg 800w" class="card-img" />
                <div class="card-info">
                  <h3 class="prod-card-name">EMS-C</h3>
                  <p class="sm-txt gray-200 card">Energy Management System - Commercial</p>
                </div>
              </a>
            </div>
          </div>
          <div class="prod-slide w-slide">
            <div data-w-id="0cdf2b58-3790-11ac-1196-dab7df62aa2f" class="prod-card">
              <a href="products/smc-gateway.html" class="link-card w-inline-block"><img loading="lazy" src="images/smc-gateway.jpg" alt="SMC-Gateway" sizes="(max-width: 800px) 100vw, 800px" srcset="images/smc-gateway-p-500.jpg 500w, images/smc-gateway.jpg 640w" class="card-img" />
                <div class="card-info">
                  <h3 class="prod-card-name">SMC-Gateway</h3>
                  <p class="sm-txt gray-200 card">Station Management Controller - Gateway</p>
                </div>
              </a>
            </div>
          </div>
          <div class="prod-slide w-slide">
            <div data-w-id="0cdf2b58-3790-11ac-1196-dab7df62aa2f" class="prod-card">
              <a href="products/smc-server.html" class="link-card w-inline-block"><img loading="lazy" src="images/smc-server.jpg" alt="SMC-Server" sizes="(max-width: 800px) 100vw, 800px" srcset="images/smc-server-p-500.jpg 500w, images/smc-server.jpg 640w" class="card-img" />
                <div class="card-info">
                  <h3 class="prod-card-name">SMC-Server</h3>
                  <p class="sm-txt gray-200 card">Station Management Controller - Server</p>
                </div>
              </a>
            </div>
          </div>
          <div class="prod-slide w-slide">
            <div data-w-id="0cdf2b58-3790-11ac-1196-dab7df62aa2f" class="prod-card">
              <a href="products/iot-b10.html" class="link-card w-inline-block"><img loading="lazy" src="images/IOT-B10.jpg" alt="IOT-B10" sizes="(max-width: 800px) 100vw, 800px" srcset="images/IOT-B10-p-500.jpg 500w, images/IOT-B10.jpg 560w" class="card-img" />
                <div class="card-info">
                  <h3 class="prod-card-name">IOT-B10</h3>
                  <p class="sm-txt gray-200 card">IOT-B10</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="team-slider-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </section>
  </div>
</Layout>
