---
import Layout from '../layouts/Layout.astro';
---

<Layout
  locale="en"
  title="About"
  currentPath="/about"
  description="About"
  ogTitle="About"
  ogDescription="About"
  webflowPageId="6a26e1187bec4a9fc6e82c52"
>
  <Fragment slot="head">
    <style>html.w-mod-js:not(.w-mod-ix3) :is(.linked-nav-logo) {visibility: hidden !important;}</style>
  </Fragment>

  <div class="main-wrapper">
    <section data-wf--banner--variant="base" class="hero-section small">
      <div class="w-layout-blockcontainer hero-container w-container">
        <h1 data-w-id="cffab803-26ef-6867-3cb2-f5ad37876f0b" class="display-lg banner">About</h1>
      </div>
      <div class="overlay"></div><img src="/images/power-network.jpg" loading="lazy" alt="power network" class="image-2">
    </section>
    <section class="section">
      <div class="section-container">
        <div id="w-node-ed8aeece-19e9-f9d2-f44e-ae908c26e965-c6e82c52" class="w-layout-layout quick-stack wf-layout-layout">
          <div id="w-node-ed8aeece-19e9-f9d2-f44e-ae908c26e967-c6e82c52" class="w-layout-cell">
            <h1 class="h1">Battery Management Technology Corporation</h1>
          </div>
          <div id="w-node-_81a52660-b863-ed82-7772-66e05e69271f-c6e82c52" class="w-layout-cell">
            <p class="sm-txt gray-200">BMTech is a Dallas-based cleantech leader specializing in cutting-edge Battery Management Systems (BMS) and Energy Management Systems (EMS). Since 2019, we have engineered high-performance infrastructure designed to meet the complex challenges of modern energy ecosystems.</p>
            <p class="sm-txt gray-200">With a robust portfolio of innovative solutions, we deliver secure, intelligent, and highly adaptable systems that optimize battery lifespan, maximize safety, and streamline operations for global clients.</p>
          </div>
          <div id="w-node-_0d7fd0da-9cf6-8f9c-7377-6ccc164acd40-c6e82c52" class="w-layout-cell"></div>
          <div id="w-node-_68c9e159-a087-e76c-612a-19ab051def5b-c6e82c52" class="w-layout-cell">
            <h1 class="h1">Our Vision</h1>
            <p class="sm-txt gray-200">At BMTech, we are committed to driving technological innovation that powers a sustainable, efficient energy future.</p>
          </div>
          <div id="w-node-_9e8e9f84-7fcf-9018-ea60-d76353771d24-c6e82c52" class="w-layout-cell">
            <h1 class="h1">Our Expertise</h1>
            <p class="sm-txt gray-200">BMTech delivers high-reliability, high-performance products that address the complex challenges of modern energy systems. With a robust portfolio of 20+ innovative solutions, we specialize in:</p>
          </div>
          <div id="w-node-_3efa917e-8f88-924d-62e8-15b67db2a72c-c6e82c52" class="w-layout-cell cell">
            <div class="w-layout-grid grid">
              <div class="about-card"><div>Battery Management Systems (BMS)</div></div>
              <div class="about-card"><div>Energy Management Systems (EMS)</div></div>
              <div class="about-card"><div>Battery Pack Technologies</div></div>
              <div class="about-card"><div>Microgrid Power Management Solutions</div></div>
            </div>
          </div>
          <div id="w-node-_771679ae-03cb-15d7-9d70-12c1517ecf9b-c6e82c52" class="w-layout-cell"><img src="/images/stacked-thing.jpg" loading="lazy" sizes="(max-width: 960px) 100vw, 960px" srcset="/images/stacked-thing-p-500.jpg 500w, /images/stacked-thing-p-800.jpg 800w, /images/stacked-thing.jpg 960w" alt="green energy factory" class="section-col-img"></div>
          <div id="w-node-d1d1a0a0-5954-6acd-163d-6b5966b3a8ff-c6e82c52" class="w-layout-cell">
            <h1 class="h1">Market Leaders in Clean Energy</h1>
            <p class="sm-txt gray-200">We’ve built a world-class network of elite component suppliers, manufacturers, and distributors. These alliances cement BMTech’s position at the forefront of the renewable energy and energy storage sectors.</p>
          </div>
          <div id="w-node-d349a8d1-7412-8939-c252-9dd7de99f77a-c6e82c52" class="w-layout-cell">
            <h1 class="h1">Applications</h1>
            <p class="sm-txt gray-200">Our comprehensive solutions serve critical markets, including:</p>
          </div>
          <div id="w-node-d9924009-17c7-9504-7980-1e865eb53c2a-c6e82c52" class="w-layout-cell cell">
            <div class="w-layout-grid grid">
              <div class="about-card"><div>Grid Energy Storage</div></div>
              <div class="about-card"><div>Renewable Energy Systems</div></div>
              <div class="about-card"><div>Residential Energy Storage</div></div>
              <div class="about-card"><div>Uninterruptible Power Supplies (UPS)</div></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
